<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">

    <title>Help</title>
</head>
<body>
    <div class="main-container">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Culpa et repudiandae similique sed suscipit veritatis voluptatem expedita nam unde fugiat odit, 
            rem molestias quidem sapiente. Voluptas distinctio expedita officiis repellat.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum asperiores alias rem,
            exercitationem molestiae consequuntur velit iste, at illum rerum eius doloremque sapiente hic 
            reprehenderit explicabo, deleniti voluptate distinctio eum.</p>
        <h3>Speak with our agent, {{name}} on: </h3>

    <p>{{phone}}</p>
    </div>
    



    {{>footer}}




    <script src="./js/app.js"></script>
</body>
</html>